bin
build
dist
res
venvv
src/settings/characters.json
src/settings/settings.json
sdlt.txt
src/version.txt
inputs.txt
eula.txt
create_shortcut.bat
/.idea/.gitignore
/.idea/astonia_launcher.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
